* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* *************************** CSS styling for loading ********************* */

h1 {
    margin-top: 100px;
}

.loading {
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    border: 5px solid transparent;
    border-top-color: green;
    border-radius: 50%;
    animation: loadingAnimation 2s linear infinite;
}


@keyframes loadingAnimation {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);

    }
}

/* *************************** CSS for progress bar ********************* */

.progress-container {
    margin-top: 20px;
    height: 20px;
    width: 1000px;
    border: 1px solid black;
    border-radius: 18px;
    overflow: hidden;

}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 0 16px 16px 0;
    animation: loadingProgress 5s linear infinite;
}




@keyframes loadingProgress {
    0% {
        width: 10%;
        background-color: red;
    }

    50% {
        width: 55%;
        background-color: green;

    }

    100% {
        width: 100%;
        background-color: Blue;
    }


}